.dvd, .book, .furniture {
    display:none;
}
body {
    background-color: #DDDDDD;
    position: relative;
    padding-bottom: 70px;
    box-sizing: border-box;
    margin: 30px 20px 0px 20px;
}
header {
    position: relative;
    top: 0;
    width: 100%;
    text-align: justify
}
footer {
    position: relative;
    width: 100%;
    text-align: center;
}
div > p > span {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
label {
    width: 100px;
    margin-top: 10px;
}
hr {
    border-style: solid;
    border-width: thin;
  }
/* .buttons {
    display: inline-block;
    position: relative;
    right: 0px;
    top: -80%;
} */
.buttons {
    position: absolute;
    right: 0px;
    top: 0px;
}