body {
  background-color: #DDDDDD;
  position: relative;
  padding-bottom: 70px;
  box-sizing: border-box;
  margin: 30px 20px 0px 20px;
}
header {
  position: relative;
  top: 0;
  width: 100%;
  text-align: justify
}
footer {
  position: relative;
  width: 100%;
  text-align: center;
}
.product-list {
  display: flex;
  line-break: loose;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
}
.product {
  flex: 0 0 200px;
  margin: 5px;
  border: 1px solid dimgray;
  box-shadow: 4px 4px 12px 0px  rgba(0,0,0,0.3);
  background-color: #DDDDDD;
  margin: 15px;
  text-align: center;
}
.product > br {
  display: none;
}
.on-off {
  display: inline;
  position: relative;
  right: 90px;
  top: 5px;
  margin: auto;
}
form{
  position: relative;
}
.buttons {
  position: absolute;
  right: 0px;
  top: -80px;
}
hr {
  border-style: solid;
  border-width: thin;
}